@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IT Service Provider</h1>
    <p class="lead">Teamwork makes the dream work</p>
    <p><a href="/Product" class="btn btn-primary btn-lg">@Html.Label(MultiLanguage.Res.Resource.Products) &raquo;</a></p>
</div>

